<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page 1+2</h1>
    <!-- INTERPOLATION SYNTAX FOR EMBEDDING EXPRESSIONS -->
    <h2><%= 2*3  %></h2>
    <h3><%= 1+2 %></h3>

    <%= "A H Riad".toUpperCase() %>
    <h3><%= ["Hello", "Hi", "Bye"][0] %></h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, est totam. Totam excepturi similique voluptatum dolores ab, sapiente enim molestiae quia doloribus, placeat quisquam error optio numquam deleniti recusandae veritatis.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste quidem voluptatem veritatis facere ex cupiditate eius, numquam quod officia, fuga alias eligendi eos. Dolorum cumque dolore pariatur placeat doloribus porro!
        Fugiat laborum explicabo voluptate repudiandae veniam veritatis rem necessitatibus nemo quae ipsum quasi, numquam libero esse voluptates delectus amet. Perspiciatis vel nulla reprehenderit itaque voluptatibus hic suscipit delectus autem sint?
        Neque nobis laborum, iste ratione nisi rerum eligendi adipisci eius, fuga iusto officiis deleniti possimus libero velit aspernatur labore culpa impedit pariatur ea doloribus quod! Laudantium dolore ex ducimus numquam?
        Rerum nostrum deleniti nihil error blanditiis nesciunt beatae atque corporis minima odio maiores porro, totam ratione ipsa qui est vel sit sed vitae dolores id consequatur architecto consectetur quam. Placeat.
        Autem incidunt iste adipisci ipsa beatae! Quia debitis, nobis esse numquam, quos, iusto eos aut laudantium fuga reprehenderit enim officia aperiam similique consectetur. Recusandae dignissimos corrupti ut eos molestiae! Perferendis.
    </p>
    <button>click me</button>
</body>
</html>